@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0; 
  padding: 0; 
}

:root {
  --primary-color: #7D2A28;
  --secondary-color: #CD4343;
  --light-gray: #D9D9D9;
  --dark-gray: #A9A8A8;
  --whitish: #FFFAFF;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--whitish);
  font-family: 'Roboto', sans-serif;
}

.todo-body {
  background-color: #A9A8A8;
  height: 50em;
  width: 50em;
  display: flexbox;
  
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--secondary-color);
}
.btn {
  padding-inline: .5em;
  padding: 1em .5em;
  color: var(--whitish);
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
}

.toggle {
  background-color: #7D2A28;
}