*,
*::before,
*::after {
  box-sizing: border-box;
}

.todo-body {
  background-color: #D9D9D9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
}

.to-text{
  justify-content: center;
  align-items: center;
  display: flex;
}

