@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-color: #7D2A28;
  --secondary-color: #CD4343;
  --light-gray: #D9D9D9;
  --dark-gray: #A9A8A8;
  --whitish: #FFFAFF;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
}

body {
  color: var(--whitish);
}

.app {
  position: relative;
  min-height: 100vh;
}

.todo-body {
  background-color: var(--light-gray);
  min-height: 65em;
  width: 45em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .7em;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--secondary-color);
  margin: 3em 1.5em;
  border-radius: .7em;
}

.btn {
  padding: 1.5em .5em;
  color: var(--whitish);
  background-color: var(--secondary-color);
  border-radius: .7em;
  border: none;
  height: 2em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.btn:hover {
  color: var(--light-gray);
  cursor: pointer;
}

.toggle {
  background-color: var(--primary-color);
}

.list {
  display: grid;
}

.list_element {
  width: auto;
  height: 3em;
  background: var(--dark-gray);
  margin: .5em;
  margin-inline: .7em;
  border-radius: .7em;
  padding: .7em;
  display: grid;
  gap: .7em;
  align-items: center;
  font-size: 1.6em;
  grid-template-columns: 1.6em 1fr 1.6em;
}

.list_element:hover {
  color: var(--light-gray);
  transition: .2s;
  box-shadow: 0px 1px 20px rgb(240 240 240 / 45%);
}

.list_element:hover .remove_btn {
  opacity: 1;
  color: var(--light-gray);
}

.circle {
  width: 1em;
  height: 1em;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.remove_btn {
  opacity: 0;
  color: var (--light-gray);
  transition: opacity .2s;
}

.remove_btn:hover {
  opacity: 1;
  color: var(--light-gray);
  cursor: pointer;
}

.liAdder {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15em;
  height: 2em;
  background-color: var(--whitish);
  margin: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  border-radius: .7em;
}

.liAdder:hover {
  transition: .2s;
  box-shadow: 0px 1px 20px rgb(240 240 240 / 45%);
  cursor: pointer;
}

.liAdder__icon {
  font-size: 1.5em;
  color: var(--dark-gray);
}

.inputForm {
  position: absolute;
  bottom: 3.5em; /* Adjusted to accommodate separation */
  left: 50%;
  transform: translateX(-50%);
  width: 20em;
  height: 15em;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: .7em;
}

.inputForm__inputField {
  flex: 1;
  width: 95%;
  margin-bottom: 1em;
  border: none;
  border-radius: .7em;
}

.inputForm__close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: var(--dark-gray);
  cursor: pointer;
}

.inputForm__btn {
  width: 50%;
  text-align: center;
  cursor: pointer;
  background-color: var(--whitish);
  border-radius: .7em;
  color: var(--dark-gray);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #333;
  padding: 10px 0;
  text-align: center;
}

.list_element_done {
  text-decoration: line-through;
  color: #333;
}
